<div class="contenedor_not_found">
  <div class="contenedor_imagen">
    <img src="../../../../assets/images/IMAGE-404.png" alt="Imagen 404" />
  </div>

  <div class="error_container">
    <h1 class="error-heading">Uhh oh...</h1>
    <h2>Ocurrió un problema</h2>
    <p class="error-message">
      Parece que la página que estas buscando no exite o fue movida
      recientemente
    </p>
    <a mat-button color="primary" routerLink="/"
      ><mat-icon class="error-icon" color="warn">error</mat-icon>Volver a la
      página de inicio</a
    >
  </div>
</div>
