.contendor_login {
  display: flex;
  .imagen_login {
    width: 50%;
  }
  .contenedor_formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    .logo_login {
      margin-bottom: 2rem;
      width: 50%;
    }
    form{
      display: flex;
      flex-direction: column;
      width: 80%;
      p{
        text-align: center;
        color: grey;
      }
    }
  }
}
