/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .ng-valid:not(form).ng-touched {
//   padding-top: 6px;
//   border-top: 2px solid #54c35a;
// }
// .ng-invalid:not(form).ng-touched {
//   padding-top: 6px;
//   border-top: 2px solid #d66e6d;
// }
