<div class="contenedor">
  <div class="centrado">
    <img src="../../../../assets/images/LOGO-ASISTE.png" alt="Logo ASISTE" />
    <div class="contenido">
      <h1>Bienvenido a la plataforma de gestión del sistema de asistencia</h1>
      <p>Para continuar, por favor inicie sesión con su cuenta.</p>
      <div class="botones">
        <!-- <a matTooltip="Si es adiministrador de la aplicación"  mat-raised-button href="http://127.0.0.1:8000/admin" target="_blank">Administrador</a> -->
        <button
          matTooltip="Inicie sesión para acceder a la aplicación"
          routerLink="/login"
          mat-stroked-button
          color="primary"
        >
          INICIAR SESIÓN
        </button>
      </div>
    </div>
  </div>
</div>
